:root {
    --color-main: darkblue;
}

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: black;
    font-size: 24px;

}

h1,
h2,
p {
    margin-top: 0;
} 

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.header-menu {
    display: flex;
    gap: 45px;
    margin-right: 100px;
}

.main-poster {
    display: flex;
    justify-content: center;
    height: 800px;
}

.main-background-photo {
    background-image: url('../images/mainphoto.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section-gallery {
    display: flex;
    justify-content: space-between;
    gap: 45px;
    flex-basis: calc(100% - 45px / 3);
}

.section-footer {
    display:flex;
    justify-content: space-between;
}

.hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.section {
    padding: 24px 0;
}

.main-button {
    width: 181px;
    height: 68px;
    border-radius: 5px;
    border: 2px solid rgb(42, 44, 42);
    background-color: rgb(184, 230, 241);
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

.main-button:hover {
    background-color: lightslategrey;
}

.link-header {
    color: #14AE5C;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Caveat', cursive;
    font-size: 36px;
}

p {
    color: var(--color-main);
}

.to-up, button {
    text-transform: uppercase;
}
